        *{
            font-family: 'Chivo', sans-serif;
        }

        body {
            font-family: "HelveticaNeue-Light", sans-serif;
            font-weight:300;
        }

        h2 {
            font-size:16px;
            text-transform:uppercase;
        }

        a {
            text-decoration:none;
        }

        .hidden {
            display:none;
        }

        #main {
            text-align:center;
        }
        
        input {
            padding: 10px;
            border-radius: 3px;
            border:1px solid #ccc;
            box-shadow: inset 0 0 10px #eee;
            font-size:24px;
        }
        
        #input-wrapper {
            padding-bottom:15px;
        }
        
        #list-item-submit {
            background: #73D175;
            color: white;
            box-shadow:none;
            border-color: #599E5A;
        }
    
        li {
            text-align:left;
            font-family:sans-serif;
            list-style: none;
            padding: 10px 0;
            border-bottom:1px solid #ccc;
            margin-left:-10px;
        }

        li input {
            margin-right:15px;
        }

        #loader {
            padding: 10px;
            margin-left: 40%;
            margin-top: 25%;
            width: 200px;
            height: 120px;
            background-color: white;
            border: solid #ddd;
            border-width: 0 1px 1px 1px;
        }

        .center {
            width: 50px;
            height: 50px;
            text-align: center;
        }
        
        body {
            background: #eee;
            text-align: center;
            padding: 0 25px;
        }

        #main {
            width: 500px;
            margin: auto;
            text-align: left;
            background: white;
            padding: 50px 60px;
            border: solid #ddd;
            border-width: 0 1px 1px 1px;
        }

        #main h1 {
            margin-top: 0;
            font-size: 35px;
        }

        #login {
            padding: 10px;
            margin-left: 32%;
            margin-top: 20%;
            width: 400px;
            height: 220px;
            background-color: white;
            border: solid #ddd;
            border-width: 0 1px 1px 1px;
        }