body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
}

#main {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
}